<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/460d6f08-bc4f-406d-9ebd-9be743418ead/resourceGroups/DataVentas/providers/Microsoft.Web/sites/MatchJueguito</ResourceId>
    <ResourceGroup>DataVentas</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://matchjueguito.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>matchjueguito.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MatchJueguito</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MatchJueguito</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>