@page "/"

<h1>DataVentas!</h1>

Hecho por Miguel Jose Gondres y Maria Isabel Alberto.

<SurveyPrompt Title="How is Blazor working for you?" />

@* Informacion de Login

    app server -> https://localhost:5001

    Facebook
    identificador de app -> 210803120478302
    Clave Secreta de app -> 856b818b6a64b4828d499f27622a2890


    Correo -> admin@gmail.com
    Contraseña -> Admin123#

    Link Third party Login

    -> https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/?view=aspnetcore-5.0&tabs=visual-studio

    Link Real Email Confirmation

    -> https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-5.0&tabs=visual-studio

*@


