@page "/"

<h1>DataVentas!</h1>

Hecho por Miguel Jose Gondres y Maria Isabel Alberto.

<SurveyPrompt Title="How is Blazor working for you?" />

@* Informacion de Login

    app server -> https://localhost:5001

    Facebook
    identificador de app -> 210803120478302
    Clave Secreta de app -> 856b818b6a64b4828d499f27622a2890

    Google
    identificador de app -> 23448158938-5jkfenfgjg4cqasnoh2ms7afpgm1b0kh.apps.googleusercontent.com
    clase secreta de app -> 5tnJGwg0Ivm9iwA7bVOncDOA

    authorize google server -> app server -> https://localhost:5001/signin-google

    Microsoft
    valor dde app -> _U13T_hxAY5_-2xYr62ukYN7q5.A~bIjvQ
    id de app -> 075e3f83-9f25-4b9f-a728-8f5263286036
    identificador de app -> ddffb57b-dd8b-4a68-8427-00aa1a4d947c
    clave secreta de app -> 075f6bd1-a234-4b3b-b48c-de6c762db83d

    app -> https://localhost:44308/signin-microsoft


    Correo -> admin@gmail.com
    Contraseña -> Admin123#

    Link Third party Login

    -> https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/?view=aspnetcore-5.0&tabs=visual-studio

    Link Real Email Confirmation

    -> https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-5.0&tabs=visual-studio

*@


