@page "/rules"
<h1> 🎭🎭🎭 R E G L A S 🎭🎭🎭</h1>

<br />
<br />
<br />

<h2>El objetivo del juego es ver quien puede combinar <br>los animales mas rapido 💨</h2>

<br />
<br />


<h2>Ejemplo: 💕 </h2>

<br />

<h1> 🐶 + 🐶 = ✅ </h1>

<h1>  🐶 + 🐢 = ❌</h1>

<br />
<br />

<a href="/game"><h1>Pulsa aqui para jugar🏃🏻‍♀️</h1></a>




@code {

}