@page "/ventas"
@*@attribute [Authorize]*@

@*@using DataVentasWeb.BLL
@using DataVentasWeb.Models

@inject IToastService toast

<div class="container">
    <div class="card-header bg-primary">
        <h2>Registro de Ventas</h2>
    </div>
    <div class="card-body">
        <EditForm Model="ventas" OnInvalidSubmit="Guardar">
            <div class="form-group row">
                <div class="col form-inline">
                    <label class="col-form-label mr-3">Cliente</label>
                    <select @bind="ventas.ClienteId" class="form-control">
                        <option value="0" disabled selected>Seleccione un cliente</option>
                        @if (clientes != null)
                        {
                            @foreach (var item in ClienteLista)
                            {
                                <option value="@item.ClienteId">@item.Nombres</option>
                            }
                        }
                    </select>
                </div>
            </div>

        </EditForm>

    </div>
</div>

@code {

    [Inject]
    public VentasBLL VentasBLL { get; set; }
    public ClientesBLL ClientesBLL { get; set; }


    public Ventas ventas { get; set; }
    public Clientes clientes { get; set; }
    public List<VentasDetalles> VentaLista = new List<VentasDetalles>();
    public List<Clientes> ClienteLista = new List<Clientes>();


    protected override async Task OnInitializedAsync()
    {
        Nuevo();
        ClienteLista = await ClientesBLL.GetClientes();
    }

    void Nuevo()
    {
        ventas = new Ventas();
        VentaLista = new List<VentasDetalles>();

    }

    async Task Guardar()
    {
        bool guardado;

        guardado = await VentasBLL.Guardar(ventas);

        if (guardado)
        {
            toast.ShowSuccess("Guardado");
        }
        else
            toast.ShowError("Error al guardar");

    }

    async Task Eliminar()
    {
        bool eliminado;

        eliminado = await VentasBLL.Eliminar(ventas.VentaId);

        if (eliminado)
        {
            toast.ShowSuccess("Eliminado");
        }
        else
            toast.ShowError("Error al eliminar");
    }



}*@
